.hk_index {
    .index_carousel {
      position: relative;
      .city_input{
        position: absolute;
        top:24px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        z-index: 100;
      }
    }
  
    .index_nav {
      display: flex;
      background-color: #fff;
      .nav_item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 60%;
          margin-top: 5px;
          margin-bottom: 5px;
        }
  
        p {
        }
      }
    }
    .index_groups {
      padding: 10px;
      .index_groups_title {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        span {
          font-size: 16px;
          color: #000;
          font-weight: 600;
        }
  
        a {
        }
      }
  
      .index_groups_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .group_item {
          width: 48%;
          background-color: #fff;
          margin-bottom: 10px;
          padding: 15px 10px;
          display: flex;
          align-items: center;
          .group_item_info {
            flex: 3;
            .group_item_title {
              color: #000;
              font-size: 15px;
              font-weight: 600;
            }
  
            .group_item_desc {
              margin-top: 4px;
              font-size: 13px;
            }
          }
  
          .group_item_img {
            flex: 2;
            img {
              width: 70%;
            }
          }
        }
      }
    }
    .index_news {
      background-color: #fff;
      padding: 10px;
      .index_news_title {
        padding: 10px 0 ;
        color: #000;
        font-size: 16px;
        font-weight: 600;
      }
  
      .index_news_content {
        .news_item {
          display: flex;
          padding: 10px 0;
          border-bottom: 1px solid #ccc;
          .news_item_img {
            flex: 1;
          }
  
          .news_item_info {
            flex: 2;
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .news_item_title {
              color: #000;
              font-size: 15px;
              font-weight: 600;
            }
  
            .news_item_desc {
              font-size: 13px;
              display: flex;
              justify-content: space-between;
              span {
              }
            }
          }
        }
      }
    }
  }
  